<div *ngIf="user" class="container">
  <div class="card-header">
    <div class="card-header-left">
      <button
        class="btn-dark"
        [routerLink]="['/create-car', id]"
        *ngIf="(authService.loggedInUserId$ | async) == id"
      >
        Create Car
      </button>
    </div>
    <div class="card-header-right">
      {{ user.firstName }}, {{ user.lastName }} <br />
      {{ user.email }}
    </div>
  </div>
  <div *ngFor="let carId of user.cars">
    <app-carlist [carId]="carId" (refreshUser)="initUser()"></app-carlist>
  </div>
</div>
