.card-header {
  background-color: #f2f2f2;
  padding: 20px;
  border-bottom: 1px solid rgb(236, 230, 230);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-header-left {
  display: flex;
  align-items: center;
}
.card-header-right {
  display: flex;
  justify-content: flex-end;
  font-weight: 200;
  font-size: 20px;
  align-items: center;
}
.btn-dark {
  margin-top: 0;
}

@media only screen and (max-width: 500px) {
  .btn-dark {
    width: 200px;
    font-size: 16px;
    padding: 5px;
  }
  .card-header-right {
    font-size: 12px;
  }
}
