<div class="container">
  <div class="container-header">
    <div>TO DO HEADER</div>
  </div>
  <form [formGroup]="carForm">
    <div class="car-body">
      <h3>General Info</h3>
      <div class="d-row">
        <div class="d-name">Brand</div>
        <select class="d-value" formControlName="make">
          <option
            *ngFor="let brand of carViewData; let i = index"
            [ngValue]="brand.name"
            (click)="onBrandSelect(i)"
          >
            {{ brand.name }}
          </option>
        </select>
      </div>
      <div class="d-row">
        <div class="d-name">Model</div>

        <select class="d-value">
          <option *ngFor="let model of selectedModelData" [ngValue]="model">
            {{ model }}
          </option>
        </select>
      </div>
      <div class="d-row">
        <div class="d-name">Year</div>
        <input class="d-value" />
      </div>
      <div class="d-row">
        <div class="d-name">Color</div>
        <input class="d-value" />
      </div>
      <div class="d-row">
        <div class="d-name">Millage</div>
        <input class="d-value" />
      </div>
      <div class="d-row">
        <div class="d-name">Price</div>
        <input class="d-value" />
      </div>
      <h3>Engine</h3>
      <div class="d-row">
        <div class="d-name">Fuel System</div>
        <input class="d-value" />
      </div>
      <div class="d-row">
        <div class="d-name">Body Type</div>
        <input class="d-value" />
      </div>
      <div class="d-row">
        <div class="d-name">Power (HP)</div>
        <input class="d-value" />
      </div>
      <div class="d-row">
        <div class="d-name">Engine Displacement</div>
        <input class="d-value" />
      </div>
      <div class="d-row">
        <div class="d-name">Transition Type</div>
        <input class="d-value" />
      </div>
      <h3>Additional Equipment</h3>
      <div class="d-row">
        <div class="d-name">TO DO NGFOR LIST OF Equipment</div>
        <input class="d-value" />
      </div>
      <h3>Seller</h3>
      <div class="d-row">
        <div class="d-name">Phone</div>
        <input class="d-value" />
      </div>
      <div class="d-row">
        <div class="d-name">Email</div>
        <input class="d-value" />
      </div>
      <div class="d-row">
        <div class="d-name">Comment</div>
        <input class="d-value" />
      </div>
    </div>

    <button (click)="onCreate()">Create Car</button>
  </form>
</div>
