<!-- <div *ngFor="let image of imagesToShow">
  <div class="image-container">
    <img [src]="image" alt="Place image title" />
  </div>
</div> -->
<!-- <div class="image-container">
  <img [src]="imagesToShow[0]" alt="Place image title" />
</div> -->

<div *ngIf="images && images.length > 0" class="carousel-container">
  <img
    *ngFor="let image of images; let i = index"
    [src]="image"
    [alt]="'carImage' + i"
    [ngClass]="{ 'image-active': selectedIndex === i }"
    class="fade"
    (click)="toggleImageOpen()"
  />
  <div *ngIf="indicators" class="carousel-dot-container">
    <span
      *ngFor="let dot of images; let i = index"
      class="dot"
      [ngClass]="{ active: selectedIndex === i }"
      (click)="selectImage(i)"
    >
    </span>
  </div>
  <button *ngIf="controls" class="btn-carousel btn-prev">
    <i
      class="fas fa-arrow-circle-left icon-carousel icon-prev"
      (click)="onPrevClick()"
    ></i>
  </button>
  <button *ngIf="controls" class="btn-carousel btn-next">
    <i
      class="fas fa-arrow-circle-right icon-carousel icon-next"
      (click)="onNextClick()"
    ></i>
  </button>

  <app-modal-image
    *ngIf="modalService.modalOpen"
    [image]="images[selectedIndex]"
  ></app-modal-image>
</div>
