<div class="container">
  <div class="container-header">
    <div>TO DO HEADER</div>
    <button
      (click)="editCarBtnToggle()"
      *ngIf="(authService.loggedInUserId$ | async) == seller"
    >
      {{ btnText }}
    </button>
  </div>
  <div *ngIf="!editToggle">
    <app-slideshow
      [images]="imagesToShow"
      *ngIf="!isImageLoading; else noImageFound"
    ></app-slideshow>
    <ng-template #noImageFound>
      <!-- TODO LOADING -->
      <h1>.... LOADING ....</h1>
      <!-- <img src="fallbackImage.png" alt="Fallbackimage" /> -->
    </ng-template>
    <div class="car-body">
      <h3>General Info</h3>
      <div class="d-row">
        <div class="d-name">Brand</div>
        <div class="d-value">
          {{ car.make }}
        </div>
      </div>
      <div class="d-row">
        <div class="d-name">Model</div>
        <div class="d-value">
          {{ car.model }}
        </div>
      </div>
      <div class="d-row">
        <div class="d-name">Year</div>
        <div class="d-value">
          {{ car.year }}
        </div>
      </div>
      <div class="d-row">
        <div class="d-name">Color</div>
        <div class="d-value">{{ car.color }}</div>
      </div>
      <div class="d-row">
        <div class="d-name">Millage</div>
        <div class="d-value">{{ car.rangeDriven }}</div>
      </div>
      <div class="d-row">
        <div class="d-name">Price</div>
        <div class="d-value">{{ car.price }}</div>
      </div>
      <h3>Engine</h3>
      <div class="d-row">
        <div class="d-name">Fuel System</div>
        <div class="d-value">{{ car.fuelSystem }}</div>
      </div>
      <div class="d-row">
        <div class="d-name">Body Type</div>
        <div class="d-value">{{ car.bodyType }}</div>
      </div>
      <div class="d-row">
        <div class="d-name">Power (HP)</div>
        <div class="d-value">{{ car.horsePower }}</div>
      </div>
      <div class="d-row">
        <div class="d-name">Engine Displacement</div>
        <div class="d-value">{{ car.engineDisplacement }}</div>
      </div>
      <div class="d-row">
        <div class="d-name">Transition Type</div>
        <div class="d-value">{{ car.transitionType }}</div>
      </div>
      <h3>Additional Equipment</h3>
      <div *ngIf="car.equipment.length > 0">
        <div class="d-row" *ngFor="let eq of car.equipment">
          <div class="d-name">Equipment</div>
          <div class="d-value">{{ eq }}</div>
        </div>
      </div>
      <h3>Seller</h3>
      <div class="d-row">
        <div class="d-name">Phone</div>
        <div class="d-value">{{ car.sellerPhone }}</div>
      </div>
      <div class="d-row">
        <div class="d-name">Email</div>
        <div class="d-value">{{ car.sellerEmail }}</div>
      </div>
      <div class="d-row">
        <div class="d-name">Comment</div>
        <div class="d-value">{{ car.sellerComment }}</div>
      </div>
    </div>
    <!-- <div [routerLink]="['/user', seller]"><button>Seller Profile</button></div> -->
  </div>
  <!-- -------------------------------------------------------------------------------- -->
  <div *ngIf="(authService.loggedInUserId$ | async) == seller && editToggle">
    <app-car-edit (triggerEdditTogle)="editCarBtnToggle()"></app-car-edit>
  </div>
</div>
