.container-header {
  background-color: #393e46;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
}
.container-header button {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 0.4rem;
  width: 100px;
  font-size: 18px;
  background-color: #fff;
  color: #000;
  margin: 0.2rem;
}
h3 {
  width: 92%;
  margin: 5px auto;
  border-bottom: #737374 solid 2px;
  font-weight: 300;
  font-size: 24px;
  color: #737374;
}
.car-body {
  padding: 30px 10px;
}
.d-row {
  display: flex;
  justify-content: space-around;
  border-bottom: #737374 solid 1px;
  width: 90%;
  margin: auto;
}
.d-name {
  width: 45%;
  color: #737374;
}
.d-value {
  width: 45%;
}
.loading-img {
  max-width: 720px;
  border-radius: 4px;
  filter: brightness(50%);
}
.loading-image-container {
  position: relative;
  text-align: center;
}
.no-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: 600;
  font-size: 2.5rem;
}
