.container-header {
  background-color: #393e46;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  border-radius: 4px;
}
h3 {
  width: 92%;
  margin: 5px auto;
  border-bottom: #737374 solid 2px;
  font-weight: 300;
  font-size: 24px;
  color: #737374;
}
.car-body {
  padding: 30px 10px;
}
.d-row {
  display: flex;
  justify-content: space-around;
  border-bottom: #737374 solid 1px;
  width: 90%;
  margin: auto;
}
.d-name {
  width: 45%;
  color: #737374;
}
.d-value {
  width: 45%;
}
