<div class="card-container">
    <form [formGroup]="loginForm" class="card">
        <div class="form-group-container">
            <label>Email</label>
            <input type="text" formControlName="email">
        </div>
        <div class="form-group-container">
            <label>Password</label>
            <input type="password" formControlName="password">
        </div>
        <div class="form-group-container">
            <button (click)="onLogin()"
            [disabled]="authService.requestSent$ | async"
            [ngClass]="{'btn-dark': !(authService.requestSent$ | async),'btn-disabled': authService.requestSent$ | async}"
            >Sign in</button>
        </div>
    </form>
</div>