<div class="header-container">
    <h2>Used Cars App</h2>
    <div>
        <div>
            <a routerLink="/">Home</a>
        </div>
        <div *ngIf="!(authService.isLoggedIn$ | async)">
            <div>
                <a routerLink="/login">Login</a>
            </div>
            <div>
                <a routerLink="/register">Register</a>
            </div>
        </div>
        <div *ngIf="(authService.isLoggedIn$ | async)">
            <a (click)="navigateToProfile()">Profile</a>
        </div>
        <div *ngIf="(authService.isLoggedIn$ | async)">
            <button (click)="onLogout()">Logout</button>
        </div>
    </div>
</div>
    