.header-container {
  background-color: #272343;
  box-shadow: 1px 3px 10px #808080;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 10px 5px;
}

.header a {
  color: #ffffff;
  text-align: center;
  padding: 12px;
  margin: 0 2px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  cursor: pointer;
}

.header .logo {
  padding: 12px;
}

.header a:hover {
  background-color: #ffffff;
  color: black;
}

.header a.active {
  background-color: #f96d00;
  color: white;
}

.header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-right {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 500px) {
  /* todo */
}
