* {
  font-family: "Poppins", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Pallete
darkblue - #272343
white - #fff
orange - #f96d00
*/
.container {
  margin: auto;
  width: 900px;
  max-width: 90%;
  box-shadow: 1px 2px 6px #808080;
  margin-top: 10px;
}

.field-error {
  border: 1px solid red;
}
.error-msg {
  color: red;
  font-size: 8;
  text-align: center;
}
.card {
  max-width: 300px;
  margin: 100px auto;
  background-color: #f2f2f2;
  padding: 50px 40px 40px 40px;
  box-shadow: 1px 2px 6px #808080;
}

.form-group-container {
  text-align: center;
}
.form-group-container input {
  height: 30px;
  width: 258px;
  /* border: none; */
  text-align: center;
}

.btn-dark {
  width: 266px;
  margin-top: 20px;
  height: 40px;
  font-size: 20px;
  background-color: #272343;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
.btn-disabled {
  width: 260px;
  margin-top: 20px;
  height: 40px;
  font-size: 20px;
  background-color: #808080;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}
.form-group-container button:active {
  background-color: #f96d00;
}
